/* ------------------ Loading screen ------------------ */
.loading {
  position: fixed;
  will-change: transform;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #181818;
  z-index: 9999;
  height: 100%;
  width: 100%;
  text-align: center;
  color: $color-main;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    max-width: 100%;
    height: 160px;
    text-align: center;
    @include mediaQuery("md") {
      width: 80%;
    }
  }
  .progress-bar {
    height: 1px;
    background: #f4a4c5;
  }
  .progress-bar_bg {
    height: 1px;
    background: $color-main;
    width: 0;
  }
  .loading-logo {
    img {
      margin: 0 auto 10px;
      width: 80px;
    }
  }
}


// .wrapper {
// 	position: relative;
// 	overflow: hidden;
// 	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
// }

.bg-main {
  background: $bg-main;
  color: $color-white;
}

.main-content {
  margin-left: 60px;
  @include mediaQuery("md") {
    margin-left: 0;
  }
}

.page-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4em 0 5em;
}

.bg-block {
  position: absolute;
  left: auto;
  top: 0;
  right: 0%;
  bottom: 0;
  z-index: -1;
  width: calc(100% - ((100% - 1140px) / 2) - (1140px / 4));
  height: calc(100% - (8em * 2));
  margin: auto;
  &__content {
    width: 100%;
    height: 100%;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    background-color: $color-lpink;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  @each $bp, $container-size in $container-sizes {
    @include min(#{bp(#{$bp})}) {
      width: 100%;
      max-width: container(#{$bp});
    }
  }
}

/* ============ text ============ */
._center {
  text-align: center;
}

/* ============ title ============ */
.section-ttl-block {
  width: 100%;
  margin-bottom: 50px;
  .ttl-bar {
    position: static;
    display: inline-block;
    width: 120px;
    height: 2px;
    margin-bottom: 10px;
    background-color: $color-main;
    margin-right: 24px;
  }
  .h2-ttl-line {
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 4rem;
    color: $color-main; 
  }
  .h2-ttl {
    font-family: "coolvetica";
    font-size: 5rem;
    color: $color-main;
    text-align: center;
  }
  &--right {
    text-align: right; 
    .ttl-bar {
      margin-right: 0;
      margin-left: 24px;
    }
  }
}

/* page to top */
.pageToTop {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 45px;
  height: 45px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  background: $color-main url("/images/up-arrow.svg") 50% 50% no-repeat;
  background-size: 19px;
  cursor: pointer;
  transform: translateY(150%);
  transition: all 200ms ease;
  &.show {
    transform: translateY(0);
  }
}


/* grid */

.grid {
  @include grid();
}

@each $key, $val in $column-sizes {
  @if ($key == "xs") {
    $colDefault: map-get($column-sizes, "xs");
    @include column($colDefault);
  } @else {
    @media (min-width: $val * 1px) {
      @include column($key);
    }
  }
}
