/* ------------------ Loading screen ------------------ */
.loading {
  position: fixed;
  will-change: transform;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #181818;
  z-index: 9999;
  height: 100%;
  width: 100%;
  text-align: center;
  color: $color-main;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    max-width: 100%;
    height: 160px;
    text-align: center;
    @include mediaQuery("md") {
      width: 80%;
    }
  }
  .progress-bar {
    height: 1px;
    background: #f4a4c5;
  }
  .progress-bar_bg {
    height: 1px;
    background: $color-main;
    width: 0;
  }
  .loading-logo {
    img {
      margin: 0 auto 10px;
      width: 80px;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mediaQuery("md") {
    padding: 9em 0 5em;
  }
}

.page-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4em 0 5em;
  margin-left: 60px;
  &-child {
    min-height: auto;
    padding: 3em 0 4em !important;
    margin-left: 0;
  }
  @include mediaQuery("md") {
    margin-left: 0;
  }
}
.bg-block {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: calc(100% - ((100% - 1140px) / 2) - (1140px / 4));
  height: calc(100% - (8em * 2));
  margin: auto;
  &__content {
    width: 100%;
    height: 100%;
    
  }
  &--left {
    left: 0;
    right: auto;
    .bg-block__content {
      border-top-right-radius: 55px;
      border-bottom-right-radius: 55px;
      background-color: $color-lblue;
    }
  }
  &--right {
    left: auto;
    right: 0;
    .bg-block__content {
      border-top-left-radius: 55px;
      border-bottom-left-radius: 55px;
      background-color: $color-lpink;
    }
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  @each $bp, $container-size in $container-sizes {
    @include min(#{bp(#{$bp})}) {
      width: 100%;
      max-width: container(#{$bp});
    }
  }
}

/* ============ display ============ */
.pc-show {
  display: block;
  @include mediaQuery("md") {
    display: none;
  }
}
.sp-show {
  display: none;
  @include mediaQuery("md") {
    display: block;
  }
}

/* ============ text ============ */
._center {
  text-align: center;
}

/* ============ title ============ */
.section-ttl-block {
  width: 100%;
  margin-bottom: 50px;
  .ttl-bar {
    position: static;
    display: inline-block;
    width: 120px;
    height: 2px;
    margin-bottom: 10px;
    background-color: $color-main;
    margin-right: 24px;
  }
  .h2-ttl-line {
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 4rem;
    color: $color-main; 
  }
  .h2-ttl {
    font-family: "coolvetica";
    font-size: 5rem;
    color: $color-main;
    text-align: center;
  }
  &--right {
    text-align: right; 
    .ttl-bar {
      margin-right: 0;
      margin-left: 24px;
    }
  }
}

/* grid */

.grid {
  @include grid();
}

@each $key, $val in $column-sizes {
  @if ($key == "xs") {
    $colDefault: map-get($column-sizes, "xs");
    @include column($colDefault);
  } @else {
    @media (min-width: $val * 1px) {
      @include column($key);
    }
  }
}


@include col();


.grid-center {
  align-items: center;
  justify-content: center;
}

.ipad {
  .section {
    padding: 7em 0 6em;
  }
}