.about {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, $color-lpink,$color-lblue);
    z-index: -1;
  }
  .section-ttl-block {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  &__hi {
    color: #b4b2c5;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__hi2 {
    font-size: 4rem;
    color: #130f49;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
  }
  &__item {
    overflow: hidden;
  }
  &__pic {
    position: relative;
    overflow: hidden;

  }
  &__text, &__img {
    background-color: $color-lgray;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__text {
    background-color: $color-white;
  }
  &__content {
    font-size: 1.8rem;
    line-height: 2;
    padding-left: 40px;
    &-text {
      position: relative;
    }
  }
  &__btn {
    margin-top: 20px;
    a {
      margin: 0;
      font-weight: bold;
    }
  }
  @include mediaQuery("md") {
    &__content {
      margin-top: 10px;
      padding-left: 0;
    }
    &__btn {
      margin-bottom: 20px;
    }
  }
}


