.about {
  position: relative;
  overflow: hidden;
  .section-ttl-block {
    margin-bottom: 20px;
  }
  &__item {
    overflow: hidden;
  }
  &__pic {
    position: relative;
    overflow: hidden;
  }
  &__text, &__img {
    background-color: $color-lgray;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__text {
    background-color: $color-white;
  }
  &__content {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;
    
    font-size: 1.8rem;
    line-height: 2;
    padding-right: 40px;
    &-text {
      position: relative;
    }
  }
}


