.about {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, $color-lpink,$color-lblue);
    z-index: -1;
  }
  .section-ttl-block {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  &__item {
    overflow: hidden;
  }
  &__pic {
    position: relative;
    overflow: hidden;

  }
  &__text, &__img {
    background-color: $color-lgray;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__text {
    background-color: $color-white;
  }
  &__content {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;
    
    font-size: 1.8rem;
    line-height: 2;
    padding-right: 40px;
    &-text {
      position: relative;
    }
  }
  &__btn {
    margin-top: 20px;
    a {
      margin: 0;
      font-weight: bold;
    }
  }
  // &__right {
  //   position: relative;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     background: url("/images/dot.svg");
  //   }
  // }
  @include mediaQuery("md") {
    &__content {
      padding-right: 0;
    }
    &__btn {
      margin-bottom: 20px;
    }
  }
}


