.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1050;
  padding: 0 3%;
  background: $color-white;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__menu {
    position: fixed;
    width: 100%;
    height: calc(100% + 60px);
    top: 0;
    right: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $color-bla;
    transition: all 0.5s;

    & > ul {
      li {
        position: relative;
        width: auto;
        height: 60px;
        line-height: 60px;
        margin: 10px 0;
        left: 100vw;
        box-sizing: border-box;
        &.active {
          color: $color-main;
          background-color: $color-white;
          a {
            pointer-events: none;
            cursor: auto;
            &:hover {
              &::before {
                display: none;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &__logo {
    width: 50px;
    padding: 0;
  }

  &__link {
    position: relative;
    display: block;
    padding: 0 30px;
    color: $color-main;
    text-align: center;
    font-size: 2.5rem;
    height: 100%;
    text-transform: uppercase;

    &:before {
      content: '';
      @include position-center;
      left: auto;
      background-color: $color-white;
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 0.14s ease-out;
    }

    &:after {
      opacity: 0;
      content: attr(data-text);
      @include position-center;
      color: $color-main;
      overflow: hidden;
      transform: translate(-24px, 0);
      transition: transform 0.1s ease-out,
        opacity 0.1s ease-out;
    }

    &:hover {
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }

      &:after {
        opacity: 1;
        padding: 0 20px;
        transform: translate(0px, 0);
        transition: transform 0.2s 0.14s ease-out,
          opacity 0.2s 0.14s ease-out;
      }
    }
  }

  #mobile-link {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;

    &,
    span {
      display: inline-block;
      transition: all 0.5s;
      box-sizing: border-box;
    }

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-bla;
      border-radius: 4px;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    .menu-open & {
      span {
        background-color: $color-white;
        &:nth-of-type(1) {
          -webkit-transform: translateY(12px) rotate(-315deg);
          transform: translateY(12px) rotate(-315deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          -webkit-transform: translateY(-12px) rotate(315deg);
          transform: translateY(-12px) rotate(315deg);
        }
      }
    }
  }

  @include mediaQuery("md") {
    height: 60px;
  }
}