.skills {
  position: relative;
  overflow: hidden;
  &__text {
    padding-right: 5em;
  }
  p {
    font-size: 1.8rem;
    line-height: 2;
  }
}

#myCanvas {
  height: 100%;
  width: 100%;
  li {
    a {
      font-size: 30px;
    }
  }
}





